body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

#overlay {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enter {
  padding: 20px 40px;
  font-size: 22px;
  cursor: pointer;
}

#ui {
  color: white;
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
}

canvas {
  display: block;
}
